node_modules
.DS_Store
.vscode
dist
logs/*
services/elk/logstash/pipeline/logstash.conf
services/elk/kibana/kibana.yml
services/metrics/alertManager/alertmanager.yml
services/metrics/grafana/provisioning/dashboards/dashboards.yml
services/metrics/grafana/provisioning/datasources/datasources.yml
services/metrics/prometheus/prometheus.yml
services/vault/conf/config.hcl
diff.txt
services/server/srcs/frontend/images/avatars/*
!services/server/srcs/frontend/images/avatars/baseAvatar.jpg
db.sqlite
*_old*
package-lock.json
.env
services/metrics/thanosSidecar/thanos-storage.yml
services/vault/.env.vault
game_bak
scripts/setup_project.sh