services:
  server:
    build:
      context: ./services/server
      dockerfile: Dockerfile
    container_name: server
    restart: unless-stopped
    expose:
      - ${SERVER_PORT}
    depends_on:
      database:
        condition: service_healthy
      vault:
        condition: service_healthy
    volumes:
      - "./services/server/srcs:/app/srcs"
      - ${LOGS_PATH}:${LOGS_DIR}
    networks:
      - transcendence
    labels:
      - "projectLabel=transcendence"

  waf:
    build:
      context: ./services/waf
      dockerfile: Dockerfile
    container_name: waf
    restart: unless-stopped
    volumes:
      - "./services/waf/srcs:/app/srcs"
      - "./services/waf/rules:/app/rules"
      - "./services/waf/package.json:/app/package.json"
      - ${LOGS_PATH}:${LOGS_DIR}
    ports:
      - "${WAF_PORT}:${WAF_PORT}"
    depends_on:
      - server
    networks:
      - transcendence
    labels:
      - "projectLabel=transcendence"

  vault:
    build:
      context: ./services/vault
      dockerfile: Dockerfile
    container_name: vault
    restart: unless-stopped
    ports:
      - "${VAULT_API_PORT}:${VAULT_API_PORT}"
    expose:
      - ${VAULT_PORT}
    volumes:
      # - vault:/app/services/vault
      - ./services/vault/srcs:/app/services/vault/srcs
      - ${LOGS_PATH}:${LOGS_DIR}
    environment:
      # ne pas changer ces noms de variables en dev
      VAULT_DEV_LISTEN_ADDRESS: ${VAULT_DEV_LISTEN_ADDR}
      VAULT_ADDR: ${VAULT_ADDR}
      VAULT_DEV_ROOT_TOKEN_ID: ${VAULT_TOKEN_ID} # utiliser JWT dans prod a la place
      VAULT_API_PORT: ${VAULT_API_PORT}
    healthcheck:
      test: ["CMD", "curl", "-f", "${VAULT_HEALTH_URL}"]
      interval: 2s
      timeout: 1s
      retries: 5
    cap_add:
      - IPC_LOCK
    networks:
      - transcendence
    labels:
      - "projectLabel=transcendence"

  database:
    build:
      context: ./services/database
      dockerfile: Dockerfile
    container_name: database
    restart: unless-stopped
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - ./services/database/srcs:/app/services/database/srcs
      - database-data:/app/services/database/data
      - ${LOGS_PATH}:${LOGS_DIR}
    healthcheck:
      test: ["CMD", "curl", "-f", "${DB_HEALTH_URL}"]
      interval: 2s
      timeout: 1s
      retries: 5
    depends_on:
      vault:
        condition: service_healthy
    networks:
      - transcendence
    labels:
      - "projectLabel=transcendence"

volumes:
  database-data:

networks:
  transcendence:
    name: transcendence_network
    driver: bridge
