services:
  server:
    build:
      context: ./services/server
      dockerfile: Dockerfile
    container_name: server
    expose:
      - 3000
    depends_on:
      database:
        condition: service_healthy
      vault:
        condition: service_healthy
    volumes:
      - "./services/server/srcs:/app/srcs"
    networks:
      - transcendence

  waf:
    build:
      context: ./services/waf
      dockerfile: Dockerfile
    container_name: waf
    restart: unless-stopped
    volumes:
      - "./services/waf/srcs:/app/srcs"
      - "./services/waf/rules:/app/rules"
      - "./services/waf/package.json:/app/package.json"
    ports:
      - "443:443"
    depends_on:
      - server
    networks:
      - transcendence

  vault:
    build:
      context: ./services/vault
      dockerfile: Dockerfile
    container_name: vault
    ports:
      - "6988:6988"
    volumes:
      # - vault:/app/services/vault
      - ./services/vault/srcs:/app/services/vault/srcs
      - ./logs:/app/logs
    environment:
      # ne pas changer ces noms de variables en dev
      VAULT_DEV_LISTEN_ADDRESS: "localhost:8200"
      VAULT_ADDR: "http://localhost:8200"
      VAULT_DEV_ROOT_TOKEN_ID: "123456789" # utiliser JWT dans prod a la place
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8200/v1/sys/health"]
      interval: 2s
      timeout: 1s
      retries: 5
    cap_add:
      - IPC_LOCK
    networks:
      - transcendence
    labels:
      filebeat.network: transcendence

  database:
    build:
      context: ./services/database
      dockerfile: Dockerfile
    container_name: database
    ports:
      - "6989:6989"
    volumes:
      # - database:/app/services/database
      - ./services/database/srcs:/app/services/database/srcs
      - ./services/database/data:/app/services/database/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6989/health"]
      interval: 2s
      timeout: 1s
      retries: 5
    depends_on:
      vault:
        condition: service_healthy
    networks:
      - transcendence

networks:
  transcendence:
    name: transcendence_network
    driver: bridge
  monitoring:
    name: monitoring_network
    driver: bridge
  elk:
    name: elk_network
    driver: bridge
