services:
  server:
    build:
      context: ./services/server
      dockerfile: Dockerfile
    container_name: server
    restart: unless-stopped
    expose:
      - ${SERVER_PORT}
    depends_on:
      database:
        condition: service_healthy
      vault:
        condition: service_healthy
      game:
        condition: service_healthy
      chat:
        condition: service_healthy
    volumes:
      - "./services/server/srcs:/app/srcs"
      - "./services/server/srcs/frontend/images/avatars:/app/dist/public/images/avatars"
      - "./services/server/build.ts:/app/build.ts"
      - ${LOGS_PATH}:${LOGS_DIR}
    networks:
      - transcendence
      - vault
    labels:
      - "projectLabel=transcendence"

  game:
    build:
      context: ./services/game
      dockerfile: Dockerfile
    container_name: game
    restart: unless-stopped
    ports:
      - "${GAME_PORT}:${GAME_PORT}"
    depends_on:
      database:
        condition: service_healthy
      vault:
        condition: service_healthy
    volumes:
      - "./services/game/srcs:/app/srcs"
      - ${LOGS_PATH}:${LOGS_DIR}
    healthcheck:
      test: ["CMD", "curl", "-kf", "${GAME_HEALTH_URL}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - transcendence
      - vault
    labels:
      - "projectLabel=transcendence"

  chat:
    build:
      context: ./services/chat
      dockerfile: Dockerfile
    container_name: chat
    restart: unless-stopped
    ports:
      - "${CHAT_PORT}:${CHAT_PORT}"
    depends_on:
      database:
        condition: service_healthy
      vault:
        condition: service_healthy
    volumes:
      - "./services/chat/srcs:/app/srcs"
      - ${LOGS_PATH}:${LOGS_DIR}
    healthcheck:
      test: ["CMD", "curl", "-f", "${CHAT_HEALTH_URL}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - transcendence
    labels:
      - "projectLabel=transcendence"

  waf:
    build:
      context: ./services/waf
      dockerfile: Dockerfile
    container_name: waf
    restart: unless-stopped
    volumes:
      - "./services/waf/srcs:/app/srcs"
      - "./services/waf/rules:/app/rules"
      - "./services/waf/package.json:/app/package.json"
      - ${LOGS_PATH}:${LOGS_DIR}
    ports:
      - "${WAF_PORT_OUT}:${WAF_PORT_IN}"
    depends_on:
      vault:
        condition: service_healthy
    networks:
      - transcendence
      - vault
    labels:
      - "projectLabel=transcendence"

  vault:
    build:
      context: ./services/vault
      dockerfile: Dockerfile
    container_name: vault
    restart: unless-stopped
    ports:
      - "${VAULT_API_PORT}:${VAULT_API_PORT}"
    expose:
      - ${VAULT_PORT}
      - ${VAULT_CLUSTER_PORT}
    volumes:
      - ./services/vault/srcs:/app/services/vault/srcs
      - ./services/vault/conf/config.hcl:/app/services/vault/conf/config.hcl
      - vault-secure:/app/services/vault/secure
      - vault-data:/vault/data
      - ${LOGS_PATH}:/vault/logs
    environment:
      VAULT_ADDR: ${VAULT_ADDR}
      VAULT_API_PORT: ${VAULT_API_PORT}
      VAULT_HEALTH_URL: ${VAULT_HEALTH_URL}
      VAULT_CACERT: ${VAULT_CERT_PATH} # env var belonging to vault image
      VAULT_KEY_PATH: ${VAULT_KEY_PATH}
      VAULT_UNSEAL_PASSPHRASE: ${VAULT_UNSEAL_PASSPHRASE}
      VAULT_SECURE_DIR: ${VAULT_SECURE_DIR}
      NODE_EXTRA_CA_CERTS: ${VAULT_CERT_PATH} # env var belonging to nodejs
      VAULT_CERT_PATH: ${VAULT_CERT_PATH}
      VAULT_APPROLE_ROLE_ID_FILE: ${VAULT_APPROLE_ROLE_ID_FILE}
      VAULT_APPROLE_SECRET_ID_FILE: ${VAULT_APPROLE_SECRET_ID_FILE}
    healthcheck:
      test: ["CMD", "curl", "-f", "${VAULT_API_HEALTH_URL}"]
      interval: 5s
      timeout: 5s
      retries: 10
    cap_add:
      - IPC_LOCK
    networks:
      - transcendence
      - vault
    labels:
      - "projectLabel=transcendence"

  database:
    build:
      context: ./services/database
      dockerfile: Dockerfile
    container_name: database
    restart: unless-stopped
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - ./services/database/srcs:/app/services/database/srcs
      - ./services/database/data:/app/services/database/data
      - ${LOGS_PATH}:${LOGS_DIR}
    healthcheck:
      test: ["CMD", "curl", "-f", "${DB_HEALTH_URL}"]
      interval: 2s
      timeout: 1s
      retries: 5
    depends_on:
      vault:
        condition: service_healthy
    networks:
      - transcendence
    labels:
      - "projectLabel=transcendence"

volumes:
  database-data:
  vault-data:
  vault-secure:

networks:
  transcendence:
    name: transcendence_network
    driver: bridge
  vault:
    name: vault_network
    driver: bridge
