body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html {
	width: 100%;
	height: 100vh;
	margin: 0;
}
canvas {
  background: #222;
  border: 2px solid #fff;
}
#score{
	color:aliceblue
}
