:root {
	--text-size: 16px;
}

html {
	font-size: var(--text-size);
	transition-property: font-size;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

body {
	font-family: 'jua';
}

h1 {
	color: rebeccapurple;
}

.traverse {
	padding: 0.5rem 1rem;
	margin-bottom: 0.5rem;
	transform: scale(1);
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	cursor: pointer;
}

.traverse[data-selected='true'] {
	background-color: rgba(0, 0, 0, 0.75);
	transform: scale(1.2);
}

background-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-column: 1;
	grid-row: 1;
}

img {
	z-index: -1;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 300ms;
	transition-timing-function: linear;
}

video {
	z-index: -2;
}

img,
video {
	height: 100% !important;
	object-fit: cover;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

overlay {
	display: block;
	height: 100%;
	width: 100%;
	z-index: 1;
	backdrop-filter: blur(4px) grayscale(0%) brightness(100%) saturate(100%);
	background-color: rgba(0, 0, 0, 0.2);
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
