services:
  backend:
    build:
      context: ./ssr_spa
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - 3000
    volumes:
      - "./ssr_spa/srcs:/app/srcs"
    networks:
      - transcendence

  waf:
    build:
      context: ./waf
      dockerfile: Dockerfile
    container_name: waf
    restart: unless-stopped
    volumes:
      - "./waf/srcs:/app/srcs"
      - "./waf/rules:/app/rules"
      - "./waf/package.json:/app/package.json"
    ports:
      - "443:443"
    depends_on:
      - backend
    networks:
      - transcendence

networks:
  transcendence:
    name: transcendence_network
    driver: bridge
