:root {
	--text-size: 16px;
}

html {
	user-select: none;
	font-size: var(--text-size);
	transition-property: font-size;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

body {
	font-family: 'jua';
}

[tabindex]:focus {
	outline: none;
}

:not(input)[tabindex]:not(canvas)[tabindex] {
	padding: 0.5rem 1rem;
	transform: scale(1);
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	cursor: pointer;
}

:not(input)[data-selected='true'][tabindex] {
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 0px 0px 2px #fff;
	transform: scale(1.2);
}

notification-wrapper {
	position: fixed;
	right: 1rem;
	top: 1rem;
	display: grid;
	grid-template-areas: 'stack';
	z-index: 3;
}

notification-container {
	grid-area: stack;
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
	transform: translateX(100px);
	opacity: 0;
}

notification-container[data-enabled='true'] {
	transform: translateX(0);
	opacity: 1;
}

notification {
	border: 2px solid transparent;
	padding: 0.5rem 0.75rem;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	width: 250px;
	backdrop-filter: blur(10px);
}

notification[type='success'] {
	background-color: rgba(0, 255, 127, 0.6);
	border-color: rgba(0, 255, 127, 1);
	color: darkgreen;
}

notification[type='error'] {
	background-color: rgba(244, 138, 160, 0.6);
	border-color: #6d0319;
	color: #6d0319;
}

notification[type='info'] {
	background-color: rgba(138, 150, 244, 0.6);
	border-color: #043d6b;
	color: #043d6b;
}

notification close-btn {
	cursor: pointer;
}

background-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-column: 1;
	grid-row: 1;
}

img {
	z-index: -1;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 100ms;
	transition-timing-function: linear;
}

video {
	z-index: -2;
}

img,
video {
	height: 100%;
	object-fit: cover;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

overlay {
	display: block;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

menu-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

page-title {
	margin-bottom: 3rem;
	font-size: 3rem;
}

page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: #fff;
}

span[type='spinner'] img {
	height: 128px;
	width: 128px;
}

*[data-selected='true'] nav-left,
*[data-selected='true'] nav-right {
	opacity: 1;
}

@media (max-width: 700px) {
	page {
		height: auto;
		padding: 2rem 0;
	}
	page-title {
		font-size: 2.3rem;
	}
	nav-left,
	nav-right {
		opacity: 1 !important;
	}
}

nav-button span {
	padding: 0 1rem;
}

nav-left,
nav-right {
	padding: 0 1rem;
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out, cubic-bezier(0.68, -0.55, 0.265, 1.55);
	display: inline-block;
}

nav-left:hover,
nav-right:hover {
	transform: scale(1.5);
}

.invalid-field {
	border: 2px solid red;
}

.field-error-message {
	flex-basis: 100%;
	text-align: center;
	color: red;
	font-size: 0.875rem;
	margin-top: 0.25rem;
}
