:root {
	--text-size: 16px;
}

html {
	font-size: var(--text-size);
	transition-property: font-size;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

body {
	font-family: 'jua';
}

[tabindex]:focus {
	outline: none;
}

:not(input)[tabindex]:not(canvas)[tabindex] {
	padding: 0.5rem 1rem;
	transform: scale(1);
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	cursor: pointer;
}

:not(input)[data-selected='true'][tabindex] {
	background-color: rgba(0, 0, 0, 0.75);
	transform: scale(1.2);
}

background-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-column: 1;
	grid-row: 1;
}

img {
	z-index: -1;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 100ms;
	transition-timing-function: linear;
}

video {
	z-index: -2;
}

img,
video {
	height: 100% !important;
	object-fit: cover;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

overlay {
	display: block;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

menu-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

page-title {
	margin-bottom: 4rem;
	font-size: 4.5rem;
}

page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: #fff;
}

span[type="spinner"] img{
	/* transform: scale(0.1); */
	height: 128px;
	width: 128px;
}

.y-nav[data-selected='true']::after {
	content: '⏵';
	opacity: 1;
}

.y-nav[data-selected='true']::before {
	content: '⏴';
	opacity: 1;
}

.y-nav {
	margin-bottom: 0.5rem;
}
.y-nav::after {
	content: '⏵';
	margin-left: 0.5rem;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.y-nav::before {
	content: '⏴';
	margin-right: 0.5rem;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
