@import "tailwindcss";

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

body, html
{
	width: 100%;
	height: 100vh;
	margin: 0;
}
canvas {
  width: 600px;
  height: 600px;
  display: block;
  margin: auto;
  border-radius: 50%;
  background: radial-gradient(circle at center, #0ff, #004, #000);
  animation: hypnotic 2s linear infinite;
}

@keyframes hypnotic {
  0% {
    background-position: 50% 50%;
    background-size: 100% 100%;
  }
  50% {
    background-size: 150% 150%;
  }
  100% {
    background-position: 50% 50%;
    background-size: 100% 100%;
  }
}
